

section{

    #tableSection{
        margin-top: 50px;
        
    }
    .divClass{
        margin-top: 20px;
        margin-left: 20px;
        h3{
            color:rgb(35, 35, 199);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
        }
        p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
    .results{
        margin-top: 20px;
        margin-left: 20px;
        h2{
            color:rgb(35, 35, 199);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 35px; 
        }
    }
}