footer {
    text-align: center;
    height: 153px;
    width: 100%;
    background-color: rgb(27, 25, 25);
    
      p {
        // text-align: center;
        line-height: 150px;
      color: #437ce6;
      font-size: 40px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }